:root {
    /* Colors */
    --brown: #a17761;
    --dark-brown: #694633;
    --white: #ffffff;
    --yellow: #fef2bc;
    --pink: #ffc0cb;
    --bg-color: #fffcf6;
}

/* Styling */

body {
    color: var(--dark-brown);
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5 , h6 {
    color: var(--brown);
    font-family: 'Gaegu', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

/* All Screens */
.screen {
    height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-content {
    text-align: center;
}

.btn {
    color: var(--brown);
    background-color: var(--white);
    border: 2px solid var(--brown);
    border-radius: 10px;
    font-family: 'Gaegu', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    margin: 16px;
    min-width: 112px;
}

.btn:hover,
.btn:focus,
.btn:active {
    color: var(--white);
    background-color: var(--brown);
    border: 2px solid var(--brown);
    box-shadow: none;
}

/* Splash Screen */

.splash-img {
    height: 500px;
    width: 500px;
    display: block;
    margin: 0 auto;
}

#progress-container {
    width: 100%;
    margin-top: 20px;
}

.progress {
    width: 300px;
    margin: 0 auto;
    background-color: var(--yellow);
    border: 2px solid var(--brown);
}

.progress-bar {
    background-color: var(--pink);
    border: 1px solid var(--brown);
    border-right: 2px solid var(--brown);
    transition: all 1s linear;
}

/* Settings Screen */

.difficulty {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: var(--white);
    background-color: var(--brown);
    border: 2px solid var(--brown);
    box-shadow: none;
}

.play-audio-button {
    color: var(--white);
    background-color: var(--brown);
}

.pause-audio-button:hover {
    color: var(--brown);
    background-color: var(--white);
}

input {
    border: 2px solid var(--brown);
    border-radius: 10px;
    height: 52px;
    width: 250px;
    text-align: center;
}

input:focus {
    background-color: var(--bg-color);
    border: 2px solid var(--dark-brown);
    outline: none;
}

/* added a 2nd player */

.player-names {
    display: flex;
    gap: 40px;
}

#start-button {
    margin: 4rem;
}

.player-0-board, .player-1-board {
    margin-left: 30px;
}

.current-player {
   margin-left: 0;
}

.current-player::before {
    content: '▸';
}

/* Game Screen */

#game-scoreboard-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.scoreboard {
    color: var(--brown);
    text-transform: uppercase;
    font-family: 'Gaegu', sans-serif;
    font-size: 32px;
    display: flex;
    gap: 50px;
    max-width: 550px;
}

#game-menu {
    display: flex;
}

.menu {
    min-width: 52px;
    height: 52px;
    padding-top: 10px;
    margin: 10px 0 10px 10px;
}

#gameboard {
    /* To make a grid in Javascript, grid-template-columns and rows depends on difficulty level */
    display: grid;
    gap: 5px;
    width: 815px;
    height: 610px;
}

.modal-body h4, li {
    text-align: left;
}

.card {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all 0.4s linear;
    transform-style: preserve-3d;
    /* Prevents the white background when card is flipped */
    background-color: transparent;
}

.selected {
    border: 2px solid var(--brown);
    border-radius: 12px;
    transform: rotateY(180deg);
}

.match {
    transform: rotateY(180deg);
}

.card-face-up, .card-face-down {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    backface-visibility: hidden;
}

.card-face-up {
    transform: rotateY(180deg);
}

.card-face-up img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.card-face-down {
    background-image: url(./images/game-cards/faceDownCard.png);
    background-size: cover;
}

/* Game Over Screen */

#game-over-screen {
    flex-direction: column;
    justify-content: space-between;
}

#game-over-screen h2 {
    font-size: 40px;
    margin-bottom: 50px;
}

#game-over-screen .scoreboard {
    justify-content: center;
}

#game-over-screen .screen-content {
    margin-top: 20%;
}

.credit-copyright p:first-child {
    text-align: center;
    margin-bottom: 3px;
}